@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1> Welcome to the Best Film Collection Ever </h1>

<div>
    <p>The Man Himself!</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>

